/* Global */

*{
	box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}
html {
    font-family: "helvetica neue", sans-serif;
}

header{
	background-color: black;
}
h1, h2, h3{
	text-align: center;
}	
	.menu {
    margin: 0 30px 0 0;
}
	.menu a {
    text-decoration: none;
    color: white;
    line-height: 70px;
	font-size: 24px;
}
.læs-mere-button{
		font-size: 20px;
		text-align: center;
		border: none;
		padding: 8px;
		width: 100%;
		background-color: #ffdf00;
	}
.border-box {
		border-style: solid;
		padding: 10px;
		margin-bottom: 2%;
		}
    footer {
        display: none;
    }

/* Ny Elever - Style */

.box{
        width: 100%;
        background-color: red;
        padding: 1px;
		border: solid #000000 3px;
    }

	.studiebox{
		border: solid #0067E4 5px;
		margin-bottom: 5%;
		padding: 3%;
	}

#ansogning{
	background-color: red;
        font-size: 300%;
}
#katedral-pic {
		width: 100%;
		border-radius: 8px;
	}

/* Mobile First op til 767px */
@media (max-width: 767px){
	.burgermenu{
		display: flex;
	}
	
	
	#toggle {
    	display: none;
	}
	
	#logo{
		width: 90%;
		margin-top: 3%;
		margin-left: 5%;
	}

    label {
        cursor: pointer;
		color: white;
		font-size: 40px;
		margin: 25%;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
     
    }
	
    #toggle:checked + .menu {
        display: block;
    }

    
    
    /* index main content */
    
    
    
    .container {
		padding: 5%;
	}
	
	.title {
		text-align: center;
		font-size: 30px;
	}
	.billedegalleri-title {
		text-align: center;
		font-size: 30px;
		}
	
	.billede-flexbox {
		display: flex;
		flex-direction: column;
	}
	
	
	.billedgalleri {
		width: 100%;
		margin-bottom: 3%;
		border-radius: 3px;
	}
	#billedgalleri {
		width: 100%;
		border-radius: 3px;
		opacity: 0.3;
	}
	#se-flere {
		position: absolute;
		margin: 20% 0 0 28%;
		font-size: 35px;
	}
    
    
    
    /* nye elever main content */
    
    .fagliste{
		color: #0067E4;
		font-weight: 600
	}
    
    
    .fagområder {
        text-align: center;
		border: solid #000000 1px;
		background-color: #ffdf00;
		font-size: 150%;
		padding: 2%;
        
    } 
    
    
    
    
    
    /* events main content */
    
    
    .events{
        width: 100%;
		border-radius: 8px;
		
    }
    .title-event{
	font-size: 350%;
	font-weight: bold;
	}
	.item2, .item3, .item4, .item5, .item6, .item7 {
		border: solid #0067E4 5px;
		margin-bottom: 5%;
    }
    
    
    /* om skolen main content */
    
    .kontaktpersoner-flex{
        display: flex;
        justify-content: space-between;
    }
    
    .kontaktinfo{
        margin-top: 60px;
    }
    
    .maps{
        display: block;
        margin-top: 10px;
        width: 100%;
        border-radius: 8px;
        
    }
    #placering{
        text-align: center;
        margin-top: 10px;
        font-size: 30px;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

/* Ipad fra 768px */
@media (min-width: 768px){
	
		#logo{
		width: 100%;
	}
	
	.menu{
		text-align: center;
	}
	
	.menu a{
		font-size: 30px;
		border: 2px solid white;
		margin-right: 10px;
		padding: 10px;
	}
	
	.menu a:hover{
		background: #ffdf00;
	}
	
	label{
		display: none;
	}
	
	#toggle{
		display: none;
	}
	
		.container{
		padding: 0 2% 0 2%;
	}
    /* Forside nyheder */
    .katedral-pic {
        display: none;
	}
    .grid-nyheder {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr ;
        grid-column-gap: 10px;

    }
    h1 {
        font-size: 400%
    }
    #naar-du-soeger p {
        text-align: center;
    }
    
    /* Forside Billedegalleri */
    .container-billedegalleri {
		display: flex;
		flex-direction: row;
        justify-content: space-between;
	}
	.billedgalleri {
		width: 95%;
		margin-bottom: 3%;
		border-radius: 3px;
	}
	#billedgalleri {
		width: 95%;
		border-radius: 3px;
		opacity: 0.3;
	}
	#se-flere {
        position: absolute;
		margin: -10% 0 0 9%;
		font-size: 35px;
	}
    
    /* Nye Elever */

    li{
		font-size: 150%;
	}
    .fagliste{
		color: #0067E4;
		font-size: 150%;
		font-weight: 600;
	}
	
	.gridcontainer{
	display: grid;
	grid-template-columns: 50% 25% 25%;
	border: solid #000000 3px;
	padding: 5%;
	background-color: #0067E4
}
	
	#studievejleder{
	width: 100%;
}

#studievejledertekst{
	font-size: 150%;
	font-weight: bold;
}
    
    .fagområder{
		background-color: #ffdf00;
		border: solid #000000 3px;
		margin-bottom: 2%;
		font-weight: bold;
		font-size: 250%;
	}
    .studiebox h2, .studiebox h3, #naar-du-soeger h3 {
        font-size: 300%;
    }
    .studiebox h2, .box h2 {
        background-color: #ffdf00;
    }
    #naar-du-soeger p, .studiebox p {
        font-size: 150%
    }
    #kontakt-studievejleder {
        background-color: #ffdf00;
        font-size: 300%;
    }
    /* Kontakt */
    .kontakt-container {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
    }
    .kontaktpersoner-flex {
        padding: 5px;
        border-style: solid;
        border-radius: 5px;
    }
    .maps {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 10px;
    }
    /* events main content */
	
	
	
.grid-container-events {
  display: grid;
  grid-gap: 10px;
  padding: 20px;
  grid-template: 100% 50% 100% 1fr / 1fr 1fr 1fr;
  text-align: center;
  font-size: 20px;
}


.item1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.item2 {
    background-color: #0067E4;
    grid-column: 1 / 2;
    grid-row: 2/ 3;
}

                         

 .item3 {
    background-color: #0067E4;    
   grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.item4 {
    background-color: #0067E4;
    grid-column: 3 / 4;
    grid-row: 2/ 3;
}

.item5 {
    background-color: orange;
    grid-column: 1 / 2;
    grid-row: 4/ 5;
}

.item6 {
	background-color: orange;
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}
.item7 {
	background-color: orange;
	grid-column: 3 / 4;
	grid-row: 4 / 5;
}
.item8 {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}


	img{
		width: 100%;
	}	
	
	
	.events-paragraf{
		padding: 15px;
	}	
	
	
	button{
		border-style: solid;
		padding: 15px;
	}
}

/* Fra 1024 px - Desktop */	
@media (min-width: 1024px){
	
	.menu a{
		font-size: 45px;
		margin-right: 30px;
		padding: 3px;
}
	.container{
		padding: 0 5% 0 5%;
	}

    
    /*footer */
	 footer {
        padding-left: 1rem;
        background-color: black;
        text-align: center;
        display: block;
        bottom: 0;
        width: 100%;
    }
    footer p {
        margin: 7px;
        color: white;
    }
    footer h2 {
        color: white;
        margin: 5px;
    }
    .footer {
        display: grid;
        grid-template-columns: 2fr 7fr 274px;
    }
	
    .instagram {
        width: 70px;
    }
    
    /* Nye Elever */
    .fagliste{
		font-size: 180%;
	}
	
	.gridcontainer1{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 4%;
	}
	
	.gridcontainer1 p{
		text-align: justify;
		font-size: 140%;
	}
	
		.gridcontainer2{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 4%;
	}
	
	.gridcontainer2 p{
		text-align: justify;
		font-size: 140%;
	}
	
	#studievejledertekst{
	font-size: 250%;
}
}

